
/*=============== HEADER & NAV ===============*/
.header {
    background-color: var(--black-color);
}

.header__container {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__logo-wrap {
    width: 82px;
    height: 52px;
}

.nav {
    margin-left: 67px;
}

.nav__list {
    display: flex;
    column-gap: 58px;
}

.nav__item,
.header__author {
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    line-height: 140%;
    color: var(--white-color);
    transition: color .2s ease-in-out;
}

.nav__item:hover,
.header__author:hover {
    color: var(--orange-color);
}

.header__author {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*=============== HERO ===============*/
.hero {
    height: 700px;
    background-image: url('../../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -82px;
}

.hero__container {
    position: relative;
    height: 100%;
}

.hero__shape {
    position: absolute;
    top: 12px;
    right: 105px;
    width: 465px;
    height: 465px;
    background: var(--gradient-color);
    border-radius: 50%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    position: absolute;
    top: 86px;
    right: 5px;
}

.hero__text {
    font-weight: var(--font-bold);
    font-size: var(--biggest-font-size);
    line-height: 75%;
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
}

.hero__text span {
    color: var(--yellow-color);
}

.hero__button {
    background: var(--gradient-color);
    border-radius: 25px;
}

/*=============== BACKSTAGE ===============*/

/*=============== PETS ===============*/

/*=============== PICK AND FEED A FRIEND ===============*/

/*=============== TESTIMONIALS ===============*/

/*=============== FOOTER ===============*/
