
/*=============== HEADER & NAV ===============*/
.header {
    background-color: var(--black-color);
}

.header__container {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__logo-wrap {
    width: 82px;
    height: 52px;
}

.nav {
    margin-left: 67px;
}

.nav__list {
    display: flex;
    column-gap: 58px;
}

.nav__item,
.header__author {
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    line-height: 140%;
    color: var(--white-color);
    transition: color .2s ease-in-out;
}

.nav__item:hover,
.header__author:hover {
    color: var(--orange-color);
}

.header__author {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*=============== HERO ===============*/
.hero {
    height: 700px;
    background-image: url('../../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -82px;
}

.hero__container {
    position: relative;
    height: 100%;
}

.hero__shape {
    position: absolute;
    top: 12px;
    right: 105px;
    width: 465px;
    height: 465px;
    background: var(--gradient-color);
    border-radius: 50%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    position: absolute;
    top: 86px;
    right: 5px;
}

.hero__text {
    font-weight: var(--font-bold);
    font-size: var(--biggest-font-size);
    line-height: 75%;
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
}

.hero__text span {
    color: var(--yellow-color);
}

.hero__button {
    background: var(--gradient-color);
    border-radius: 25px;
}

/*=============== BACKSTAGE ===============*/
.backstage {
    padding: 140px 0;
    position: relative;
    background-image: url(../../assets/images/flower.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
}

.backstage__bg-image {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: -1;
}

.backstage__container {
    display: flex;
}

.backstage__img {
    width: 609px;
    height: 403px;
}

.backstage__content {
    padding-left: 87px;
}

.backstage__title {
    margin-bottom: 20px;
    font-weight: var(--font-regular);
    font-size: var(--big-font-size);
    line-height: 120%;
}

.backstage__subtitle {
    margin-top: 54px;
    margin-bottom: 34px;
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
    line-height: 120%;
}

.backstage__paragraph {
    font-weight: var(--font-regular);
    font-size: var(--small-font-size);
    line-height: 130%;
}

/*=============== PETS ===============*/
.pets {
    padding-top: 40px;
    padding-bottom: 100px;
    position: relative;
    background-image: url(../../assets/images/palm.png), url('../../assets/images/strelitzia.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left bottom, right bottom;
}

.pets__container {
    display: grid;
    place-items: center;
}

.pets__button {
    margin-top: 80px;
    background-color: var(--orange-color);
    transition: background .2s ease-in-out;
    border-radius: 25px;
}

.pets__bg-img {
    position: absolute;
    bottom: 0;
}
.pets-bg-left {
    left: 0;
}
.pets-bg-right {
    right: 0;
}

.slider {
    position: relative;
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border: none;
    outline: none;
    background: var(--gradient-color);
    border-radius: 50%;
}

.btn-prev {
    left: -82px;
}

.btn-next {
    right: -82px;
}

.slider__btn:active {
    background: var(--green-color);
}

.slider__img {
    position: relative;
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.slider__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.slider__item {
    padding: 1px;
    background: var(--gradient-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.slider__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white-color);
    transition: background .2s ease-in-out;
}

.slider__content {
    position: relative;
    padding-left: 16px;
    padding-bottom: 16px;
    background-color: var(--white-color);
    transition: all .2s ease-in-out;
    z-index: 2;
}

.slider__title,
.slider__subtitle {
    color: var(--black-color);
    transition: color .1s ease-in-out;
}

.slider__title {
    padding-top: 5px;
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    line-height: 140%;
    text-transform: uppercase;
}

.slider__subtitle {
    font-weight: var(--font-light);
    font-size: var(--smaller-font-size);
    line-height: 120%;
}

.slider__icon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
}

.slider__item:hover .slider__img {
    transform: scale(1.1);
    opacity: 0.3;
}
.slider__item:hover .slider__content {
    background-color: var(--first-color);
}
.slider__item:hover > .slider__wrap {
    background-color: var(--first-color);
}
.slider__item:hover .slider__title,
.slider__item:hover .slider__subtitle {
    color: var(--white-color);
}

/*=============== PICK AND FEED A FRIEND ===============*/

/*=============== TESTIMONIALS ===============*/

/*=============== FOOTER ===============*/
