/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: #333B41;
  --first-color-alt: #111115;
  --text-color: #767474;
  --text-color-light: #bdbdbd;;
  --white-color: #fff;
  --black-color: #000;
  --grey-color-light:  #f1f3f2;;
  --yellow-color: #ffee2e;
  --orange-color: #fe9013;
  --orange-color-alt: #E47209;
  --green-color: #4B9200;
  --gradient-color: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;

  /*========== Font size ==========*/
  --biggest-font-size: 106.496px;
  --big-font-size: 48px;
  --normal-font-size: 24px;
  --small-font-size: 16px;
  --smaller-font-size: 15px;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--first-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  display: block;
  padding: 16px 0;
  width: 298px;
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  border: none;
  outline: none;
}

.button:hover {
  background: var(--orange-color-alt);
}
.button:active {
  background: var(--green-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* active link */
.active-link {
  color: var(--orange-color) !important;
}

/*=============== HEADER & NAV ===============*/
.header {
  background-color: var(--black-color);
}

.header__container {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo-wrap {
  width: 82px;
  height: 52px;
}

.nav {
  margin-left: 67px;
  transition: all .2s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 58px;
  transition: all .2s ease-in-out;
}

.nav__item,
.header__author {
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  line-height: 140%;
  color: var(--white-color);
  transition: color .2s ease-in-out;
}

.nav__item:hover,
.header__author:hover {
  color: var(--orange-color);
}

.header__author {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__menu-btn {
  display: none;
}

/*=============== FOOTER ===============*/
.footer {
  padding-top: 37px;
  padding-bottom: 50px;
  background-color: var(--black-color);
}

.footer__container {
  display: flex;
}

.footer__logo-text {
  display: none;
}

.footer__column:nth-child(1) {
  margin-right: 101px;
}

.footer__column:nth-child(2) {
  align-self: flex-end;
}

.footer__column:nth-child(3) {
  margin-left: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__button {
  margin-top: 62px;
  margin-bottom: 44px;
  background: var(--gradient-color);
  border-radius: 5px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__social-link {
  display: inline-flex;
  align-items: center;
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  line-height: 140%;
  color: var(--white-color);
  transition: all .2s ease-in-out;
}

.footer__social-link i {
  display: grid;
  place-items: center;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 20px;
  margin-right: 12px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  transition: all .2s ease-in-out;
}

.footer__social-link:hover {
  color: var(--green-color);
}
.footer__social-link:hover i {
  color: var(--white-color);
  background-color: var(--green-color);
}

.footer__copyright {
  align-self: flex-end;
}

.footer__copyright p {
  margin-top: 10px;
  font-weight: 100;
  font-size: var(--small-font-size);
  line-height: 130%;
  color: var(--white-color);
}

/* footer form */
.form__title {
  margin-bottom: 14px;
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  line-height: 120%;
  color: var(--white-color);
}

.form__input {
  padding: 10px;
  width: 228px;
  border-radius: 2px;
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  line-height: 140%;
  color: var(--text-color-light);
  background-color: transparent;
  border: 1px solid var(--orange-color);
  outline: none;
}

.form__input:focus {
  border: 1px solid var(--green-color);
}

.form__input:focus + button {
  color: var(--green-color);
  border: 1px solid var(--green-color);
}

.form__button {
  margin-left: 4px;
  padding: 10px 39px;
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  line-height: 140%;
  color: var(--black-color);
  background: #F1F3F2;
  border: 1px solid var(--black-color);
  border-radius: 5px;
}

.form__button:hover {
  color: var(--green-color);
  border: 1px solid var(--green-color);
}

.input-mistake {
  border: 1px solid red;
}

.input-mistake::placeholder {
  color: red;
}

.input-mistake:focus::placeholder {
  color: var(--text-color-light);
}


/*=============== MEDIA QUERIES ===============*/

/* Large devices */
@media screen and (max-width: 1520px) {
  .backstage {
    background-position: right -50px top;
  }
  .backstage__content {
    padding-left: 50px;
  }

  .pets {
    padding-bottom: 140px;
    background-image: url('../images/pets-bg1.png'), url('../images/pets-bg2.png');
    background-size: 202px, auto;
    background-position: left bottom, right bottom;
  }
  .slider__item {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 1360px) {
  .slider__list {
    row-gap: 100px;
  }
  .btn-prev {
    left: 34%;
  }
  .btn-next {
    right: 34%;
  }
}

@media screen and (max-width: 1350px) {
  .backstage {
    background: none;
  }
}

@media screen and (max-width: 1300px) {
  .hero {
    background-position: -50px -82px;
  }

  .backstage {
    padding-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }

  .hero {
    background-position: -120px -82px;
  }
  .hero__content {
    top: 100px;
    right: 48px;
    row-gap: 130px;
  }
  .hero__text {
    font-weight: var(--font-bold);
    font-size: 85px;
  }


  .backstage__img {
    width: 510px;
    object-fit: cover;
  }

  .slider__item {
    width: 295px;
    height: 357px;
  }


  .pick__container {
    margin: 0 30px;
  }
  .pick__paragraph-bold {
    max-width: 813px;
  }


  .testimonials__list {
    justify-content: center;
    column-gap: 20px;
  }
  .testimonial {
    width: 250px;
  }


  .footer__container {
    position: relative;
    justify-content: space-between;
  }
  .footer__column {
    margin: 0 !important;
  }
  .footer__column:nth-child(2) {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}


@media screen and (max-width: 1100px) {
  .hero__shape {
    width: 400px;
    height: 400px;
  }

  .testimonials__list {
    justify-content: center;
    column-gap: 30px;
  }
  .testimonials__item:last-child {
    display: none;
  }
  .testimonial {
    width: 293px;
  }
}

@media screen and (max-width: 1074px) {
  .backstage__img {
    width: 455px;
    height: 408px;
  }

  .pick__info {
    padding-left: 49px;
  }
}

@media screen and (max-width: 1040px) {
  .hero {
    background-position: -150px -82px;
  }

  .backstage__content {
    padding-left: 31px;
    transform: translateY(-8px);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }

  .header {
    width: 100%;
    position: absolute;
    z-index: 10;
  }
  .header__nav {
    margin-left: 63px;
  }
  .nav__list {
    column-gap: 48px;
  }
  .header__author {
    right: 30px;
  }


  .hero {
    max-height: 584px;
    background-image: url('../images/hero-large.jpg');
    background-position: center bottom;
  }
  .hero__shape {
    top: 68px;
    right: 173px;
    width: 367px;
    height: 367px;
    z-index: 0;
  }
  .hero__content {
    top: 123px;
    right: 93px;
    row-gap: 43px;
  }
  .hero__text {
    font-weight: var(--font-bold);
    font-size: 85px;
  }


  .backstage {
    padding: 108px 0;
  }

  .pick__container {
    padding: 41px 30px 59px 30px;
  }
  .pick__paragraph {
    max-width: 823px;
  }

  .footer__nav-list {
    column-gap: 48px;
  }
}

@media screen and (max-width: 998px) {
  .backstage__title br {
    display: none;
  }
  .backstage__img {
    width: 400px;
    height: 450px;
  }

  .slider__item {
    width: 250px;
    height: 314px;
  }
}

/* Tablets */
@media screen and (max-width: 920px) {
  .hero__shape {
    width: 325px;
    height: 325px;
    right: 110px;
  }
  .hero__content {
    right: 38px;
    row-gap: 82px;
  }
  .hero__text {
    font-size: 75px;
  }

  .footer__column:nth-child(2) {
    transform: translateX(-60%);
  }
}

@media screen and (max-width: 880px) {
  .content__cards {
    column-gap: 42px;
  }
  .content__card:nth-child(2) .content__card-img::before,
  .content__card:nth-child(3) .content__card-img::before {
      top: -3px;
      left: -94px;
      width: 110px;
      height: 35px;
      background-image: url('../icons/green-arrow.png');
  }
}

@media screen and (max-width: 863px) {
  .backstage {
    padding: 70px 0;
    background-image: url('../images/flower.png');
    background-repeat: no-repeat;
    background-size: 163px 476px;
    background-position: right -30px top;
  }
  .backstage__img {
    display: none;
  }
  .backstage__content {
    padding-left: 0;
  }
  .backstage__title {
    padding-left: 4px;
  }
  .backstage__title br {
    display: block;
  }
  .backstage__paragraph {
    max-width: 495px;
    line-height: 140%;
  }
  .backstage__subtitle {
    margin-top: 30px;
    margin-bottom: 19px;
    line-height: 106%;
    transform: translateX(4px);
  }

  .slider__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .slider__item {
    width: 285px;
    height: 348px;
  }

  .slider__item:nth-child(3),
  .slider__item:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 844px) {
  .testimonials {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url('../images/testimonial-bg.png');
    background-size: 120px;
    background-position: right bottom -71px;
  }
  .testimonials__title {
    margin-bottom: 30px;
  }
  .testimonials__list {
    flex-direction: column;
    row-gap: 15px;
  }
  .testimonial {
    width: 100%;
    height: 109px;
  }
  .testimonial__paragraph {
    height: 37px;
    overflow: hidden;
  }
  .testimonials__progress {
    display: none;
  }
  .testimonials__button {
    margin: 0 auto;
    margin-top: 40px;
  }

  .footer {
    padding-top: 13px;
    padding-bottom: 12px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__column:nth-child(1) {
    position: relative;
  }
  .footer__column:nth-child(2) {
    left: 31px;
    transform: translate(0);
  }
  .footer__nav-list {
    column-gap: 37px !important;
  }
  .footer__socials {
    position: absolute;
    top: 0;
    right: 0;
    row-gap: 20px;
  }
  .footer__form {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .nav__list {
    column-gap: 30px;
  }
}


/* Mobile devices */
@media screen and (max-width: 767px) {
  .hero {
    height: 500px;
  }
  .hero__shape {
    width: 300px;
    height: 300px;
    right: 88px;
  }
  .hero__content {
    right: 20px;
    row-gap: 43px;
  }
  .hero__text {
    font-size: 68px;
  }

  .pick {
    padding: 20px 0;
  }
  .pick__container {
    margin: 0;
    padding-top: 10px !important;
    padding-bottom: 60px !important;
  }
  .pick__info {
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .header__nav {
    margin-left: 25px;
  }
  .nav__list {
    column-gap: 25px;
  }

  .hero {
    height: 470px;
  }
  .hero__shape {
    width: 250px;
    height: 250px;
    top: 90px;
    right: 88px;
  }
  .hero__text {
    font-size: 60px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 20px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__container {
    padding: 0 20px;
    height: 34px;
  }
  .header__logo-wrap {
    width: 46px;
    height: 29px;
  }
  .header__logo {
    display: none;
  }
  .logo__mobile {
    display: block;
  }
  .header__nav,
  .header__author {
    display: none;
  }
  .header__menu-btn {
    display: block;
    position: absolute;
    right: 20px;
    width: 18px;
    height: 10px;
    border: none;
    background: transparent;
    background-image: url('../images/menu.png');
  }


  .hero {
    height: 373px;
    background-position: 0 0;
  }
  .hero__shape {
    top: 44px;
    right: 71px;
    width: 237px;
    height: 237px;
  }
  .hero__content {
    position: static;
  }
  .hero__text {
    position: absolute;
    top: 84px;
    right: 22px;
    font-size: 54px;
  }
  .hero__button {
    position: absolute;
    left: 22px;
    bottom: 40px;
  }

  .pets {
    padding-bottom: 100px;
    background-size: auto, 175px 131px;
    background-position: left -60px bottom, right bottom;
  }

  .footer__column:nth-child(2) {
    left: 21px;
  }
  .footer__social i {
    margin: 0;
  }
  .footer__social span {
    display: none;
  }
  .footer__button {
    margin-top: 32px;
    margin-bottom: 67px;
  }
}

@media screen and (max-width: 638px) {
  .slider__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0;
  }
  .slider__btn {
    display: none;
  }

  .content__cards {
    flex-direction: column;
    align-items: center;
    row-gap: 74px;
  }
  .content__card {
    position: relative;
  }
  .content__card:nth-child(2) .content__card-img::before,
  .content__card:nth-child(3) .content__card-img::before {
      top: -55px;
      left: 85%;
      width: 85px;
      transform: rotate(83deg);
      background-size: contain;
  }
  .content__card-title {
    margin-top: 10px;
    position: absolute;
  }
  .content__button {
    margin-top: 99px;
  }
}

@media screen and (max-width: 620px) {
  .backstage {
    background-position: right -100px top;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 0;
  }
  .footer__container {
    padding-top: 20px;
    padding-bottom: 72px;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo-text {
    display: block;
    font-weight: 300;
    font-size: 19.0145px;
    line-height: 120%;
    color: #fff;
  }
  .footer__column:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__column:nth-child(2) {
    width: 100%;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }
  .footer__column:nth-child(3) {
    width: 100%;
  }
  .footer__nav-list {
    bottom: -20px;
    justify-content: center;
    column-gap: 30px !important;
  }
  .footer__copyright {
    width: 100%;
    position: static;
    text-align: center;
  }
  .footer__button {
    margin-bottom: 30px;
    order: 3;
  }
  .footer__socials {
    margin-top: 30px;
    order: 2;
    position: static;
    flex-direction: row;
    column-gap: 30px;
  }
}

@media screen and (max-width: 578px) {
  .hero {
    height: 300px;
  }
  .hero__shape {
    width: 200px;
    height: 200px;
  }
  .hero__text {
    font-size: 40px;
    right: 40px;
  }
  .hero__button {
    bottom: 12px;
  }
}

@media screen and (max-width: 520px) {
  .hero__button {
    left: 50%;
    bottom: -75px;
    transform: translateX(-50%);
  }

  .backstage {
    padding-top: 110px;
    padding-bottom: 40px;
    background-image: url('../images/flower_mobile.png');
    background-size: 30px 228px;
    background-position: right top 42px;
  }
  .backstage__title {
    font-size: 34px;
  }
  .backstage__paragraph {
    margin-top: 10px;
  }

  .pets {
    padding-top: 0;
    padding-bottom: 140px;
    background-image: url('../images/pet-mobile1.png'), url('../images/pet-mobile2.png');
    background-size: auto, 85px 71px;
    background-position: left bottom, right bottom -5px;
  }
  .pets__button {
    position: absolute;
    bottom: 60px;
    width: 298px;
    height: 54px;
  }

  .pick__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 486px) {
  .hero {
    height: 284px;
  }
  .hero__shape {
    width: 150px;
    height: 150px;
  }
  .hero__text {
    top: 76px;
    right: 34px;
    font-size: 32px;
  }
}

@media screen and (max-width: 450px) {
  .hero {
    height: 250px;
  }
  .hero__shape {
    top: 56px;
    right: 36px;
    width: 119px;
    height: 119px;
  }
  .hero__text {
    top: 75px;
    right: 9px;
    font-size: 28px;
  }

  .testimonials {
    padding-top: 30px;
    padding-bottom: 60px;
    background-image: url('../images/testimonial-bg-2.png');
    background-size: auto;
    background-position: right bottom -30px;
  }
}

@media screen and (max-width: 400px) {
  .hero {
    height: 230px;
  }

  .content__title {
    margin: 20px 0;
  }
  .pick__subtitle {
    text-align: center;
  }
  .pick__info p {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .pick__title {
    font-size: var(--normal-font-size);
  }
}

@media screen and (max-width: 336px) {
  .testimonials__button {
    width: 240px;
    height: 54px;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    height: 219px;
    background-size: contain;
    background-position: center 34px;
  }
  .hero__shape {
    top: 56px;
    right: 36px;
    width: 119px;
    height: 119px;
  }
  .hero__text {
    top: 75px;
    right: 9px;
    font-size: 28px;
  }
  .hero__button {
    bottom: -74px;
  }

  .backstage__title {
    font-size: 24px;
  }

  .pick__container {
    margin: 20px 10px;
    padding: 0 10px;
    padding-bottom: 40px !important;
  }
  .pick__subtitle {
    font-size: 18px;
  }
  .content__button {
    margin-top: 93px;
    position: relative;
    transform: translateX(-9px);
  }

  .footer__copyright {
    text-align: right;
  }
}