
/*=============== HERO ===============*/
.hero {
    height: 390px;
    background-image: url('../../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__container {
    position: relative;
    height: 100%;
}

/*=============== FRIEND ===============*/
.friend {
    padding-top: 40px;
    padding-bottom: 180px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
                linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
                linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.friend__title {
    font-weight: var(--font-regular);
    font-size: 36px;
    line-height: 130%;
    color: var(--white-color);
}

.friend__paragraph {
    margin-top: 10px;
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    line-height: 140%;
    color: var(--white-color);
}

.friend__subtitle {
    margin-top: 40px;
    font-weight: var(--font-regular);
    font-size: 36px;
    line-height: 130%;
    color: var(--orange-color);
}

.content {
    margin-top: 60px;
    padding: 40px 92px 62px 92px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.content__title {
    margin-right: 14px;
    font-weight: var(--font-regurlar);
    font-size: var(--big-font-size);
    line-height: 120%;
    text-align: center;
    color: var(--orange-color);
}

.content__paragraph {
    margin-top: 20px;
    font-weight: var(--regular-font);
    font-size: 24px;
    line-height: 120%;
}

.content__image-wrap {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.content__image-inner {
    position: relative;
    padding-right: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__btn-close {
    position: absolute;
    top: 95px;
    right: 70px;
    font-size: 28px;
    background: none;
    border: none;
}

.content__diet {
    font-weight: var(--font-medium);
    font-size: 72px;
    line-height: 80%;
}

.content__diet-info {
    margin-top:  11px;
    font-weight: var(--regular-font);
    font-size: var(--small-font-size);
    line-height: 140%;
}

.content__image {
    transform: translate(-13px, -28px);
}

/* Form */
.amount {
    margin-top: 20px;
}

.amount__title {
    margin-left: 4px;
    margin-bottom: 19px;
    font-weight: var(--regular-font);
    font-size: var(--small-font-size);
    line-height: 140%;
    color: var(--black-color);
}

.amount__list {
    position: relative;
    display: flex;
    column-gap: 130px;
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.amount__list::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 915px;
    height: 2px;
    background: #72828E;
    z-index: 0;
}

.amount__item {
    position: relative;
    transition: all .2s ease-in-out;
}

.amount__item span {
    margin-left: 26px;
    position: absolute;
    top: 8px;
    text-align: center;
    display: block;
    width: 10px;
    height: 10px;
    background: var(--yellow-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.amount__item span::before,
.amount__item span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--orange-color);
    transition: all .2s ease-in-out;
    opacity: 0;
}

.amount__item span:hover::before,
.amount__item span:hover::after {
    opacity: 1;
}

.amount__item span:hover::after {
    width: 37px;
    height: 37px;
}

.amount__item span:hover + p {
    color: var(--orange-color);
}

.active-price span::before,
.active-price span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--orange-color);
    transition: all .2s ease-in-out;
    opacity: 1;
}

.active-price span::after {
    width: 37px;
    height: 37px;
}

.active-price span + p {
    color: var(--orange-color);
}

.amount__price {
    position: absolute;
    top: 8px;
    left: -1px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    transition: color .2s ease-in-out;
}

.amount__inner-block {
    margin-top: 95px;
    text-align: center;
}

.amount__input-wrap {
    position: relative;
    width: 270px;
    margin: 0 auto;
}

.amount__input {
    padding-left: 8px;
    margin: 0 auto;
    width: 268px;
    height: 54px;
    color: #929699;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border-radius: 2px;
    border: 1px solid #929699;
    background-color: transparent;
    outline: none;
}

.amount__input::-webkit-outer-spin-button,
.amount__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount__input:focus {
    color: var(--green-color);
    border: 1px solid var(--green-color);
}

.amount__input:focus::placeholder,
.amount__input:focus + span {
    color: var(--green-color);
}


.amount__sign {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: translateX(5px);
    font-size: 22px;
    font-weight: var(--font-bold);
    color: #929699;
}

.amount__radios {
    padding-left: 55px;
    margin-top: 26px;
    margin-bottom: 30px;
    display: inline-flex;
    width: 268px;
    column-gap: 76px;
}

.amount__radio {
    position: relative;
    font-weight: var(--regular-font);
    font-size: var(--small-font-size);
    line-height: 140%;
    cursor: pointer;
}

.amount__radio input[type="radio"] {
    display: none;
}

.amount__radio span {
    position: absolute;
    top: 3px;
    left: -25px;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--orange-color);
    border-radius: 50%;
}

.amount__radio span::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--orange-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.amount__radio input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
}

.amount__button {
    margin: 0 auto;
    background: var(--gradient-color);
    border-radius: 25px;
    transform: translateX(5px);
}

.amount__paragraph {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}


/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 1200px) {
    .amount__list {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .amount__inner-block {
        margin-top: 145px;
    }
}

@media screen and (max-width: 1100px) {
    .content {
        padding: 20px 44px 45px;
    }
    .friend__title {
        max-width: 778px;
    }
    .friend__paragraph {
        margin-top: 30px;
    }
    .amount__list {
        width: 810px;
    }
    .amount__list::after {
        width: 100%;
    }
    .amount__item:first-child {
        display: none;
    }
    .amount__item span {
        margin-left: 11px;
    }
    .content__form {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        position: static;
    }

    .hero {
        height: 390px;
        background-image: url('../../assets/images/donate-hero-bg.jpg');
        background-position: center bottom;
    }
}

@media screen and (max-width: 920px) {
    .amount__list {
        padding: 0 35px;
        width: 678px;
        column-gap: 0;
        justify-content: space-between;
    }
    .amount__item span {
        margin: 0;
    }
    .amount__item:nth-child(2) {
        display: none;
    }
    .amount__price {
        left: -21px;
    }
}

@media screen and (max-width: 800px) {
    .friend {
        padding-bottom: 46px;
    }
    .friend__title {
        font-size: 24px;
        line-height: 120%;
    }
    .friend__subtitle {
        margin-top: 30px;
    }

    .content {
        margin-top: 30px;
        padding: 30px 10px;
    }
    .content__paragraph {
        text-align: center;
    }
    .amount__list {
        width: 95%;
    }
    .amount__item:nth-child(3) {
        display: none;
    }
    .content__form {
        padding: 0;
    }
}

@media screen and (max-width: 660px) {
    .amount__list {
        width: 100%;
    }
    .amount__title {
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 640px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .hero {
        margin-top: 34px;
        height: 335px;
        background-position: left -125px bottom;
    }
}

@media screen and (max-width: 610px) {
    .content {
        padding: 20px 0;
    }
    .content__image-wrap {
        justify-content: space-between;
    }
    .content__image-inner {
        padding: 0;
    }
    .content__btn-close {
        top: 37%;
        right: -34px;
    }

    .amount__list {
        padding: 0 17px;
        height: 13px;
    }
    .amount__item span {
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
    }
    .amount__price {
        margin-top: 13px;
        font-size: 13px;
        left: -12px;
    }

    .amount__item span:hover::before,
    .amount__item span:hover::after {
        width: 10px;
        height: 10px;
    }

    .amount__item span:hover::after {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 550px) {
    .hero {
        height: 250px;
        background-position: center center;
    }

    .friend__container {
        padding: 0 10px;
    }

    .friend__subtitle {
        font-size: 24px;
    }

    .content__title {
        font-size: 24px;
    }
    .content__paragraph {
        font-size: 16px;
    }
    .content__diet {
        font-size: 40px;
    }
    .content__diet-info {
        font-size: 9px;
    }
    .content__btn-close {
        top: 35%;
        right: -20px;
        font-size: 16px;
    }
    .content__image-wrap {
        margin-top: 36px;
    }


    .amount {
        margin-top: 0;
    }
    .amount__inner-block {
        margin-top: 73px;
    }
    .amount__button {
        transform: translateX(0);
    }
}

@media screen and (max-width: 460px) {
    .hero {
        height: 200px;
    }

    .content__image {
        width: 151px;
        transform: translate(-13px, -17px);
    }

    .amount__paragraph {
        width: 301px;
    }
}

@media screen and (max-width: 320px) {
    .hero {
        height: 187px;
        background-position: left -65px center;
    }
}